.section-about{
	background-color: $white;
	
	.avatar{
	    border-radius: 50%;
        border: 8px solid lightblue;
        @include square(240px);
        background:{
            image: url(#{$sass-img-url}#{$avatar-url});
            repeat: no-repeat;
            size: cover;
            position: 0px -50px; /*往上60px*/
        }
	}
	
	figure{
		margin-bottom: $spaceDouble*2;
		
		@include breakpoint(sm){
			margin-bottom: 0;
		}
	}
	
	figcaption{
		font-size: 2rem;
	}
	.fa{
		@include square(40px);
		background-color: $greyDark;
		color: $white;
		border-radius: 50%;
		line-height: 40px;
		margin: 0 $space/3;
		background-color: lightblue;
		
		&:hover{
		    @include animation(swing 1.0s linear); /*其他设置放在animated类里*/
		    background-color: darken(lightblue, 5%);
		}
	}
	
	h3{
		padding-bottom: $space/4;
	}
}
