// 各种组件
/* Form
 ------------------------------------ */

.form {
    padding: $spaceDouble $space;
    background: $color-bg;

    @include breakpoint('sm'){
        padding: $spaceDouble*2 $space;
    }
    
    input,
    textarea {
        @extend %form-fields;
    }
    textarea {
        height: 100px;
    }
    .btn {
        width: auto;
        border: 0;
        border-radius: 0;
    }
    .form-field {
        margin-bottom: 10px;
    }
}


/* Icon - Fontawesome Icons 
 ------------------------------------ */

.fa{
    color: $color-primary;
}

/* ---------------------------------
 * Expandable Box
 */
.expandable-box {
    position: relative;
     -webkit-perspective: none;
}
.expandable-box-top {
    padding: $space;
    background-color: darken($color-primary, 2%);
    @include transition(0.5s all ease);
    transform: translate(0px, 0px);
    .expandable-box:hover & {
        transform: translate(0px, -45px);
    }
}
.expandable-box-bottom {
    position: absolute;
    width: 100%;
    display: flex;
    @include transition(0.5s all ease);
    transform: translate(0px, 0px) rotateX(90deg);
    transform-origin: left top; /*top 不产生透视*/
    .expandable-box:hover & {
        transform: translate(0px, -45px) rotateX(0); /* 90deg = 参照 top 边 绕x轴 往里逆时针旋转90度， 同时Y轴往上走45px，transform 需要分步拆解 */
    }
}


/* -------------------------
 *  Modal
 */

.modal{
   background-color: $white;
   @extend %align-center;
   padding: $spaceDouble*2 0;
   
   .btn-close{
        position: absolute;
        right: 40px;
        top: 40px;
        z-index: 1;
        @include square(60px);
        
        &:hover{
            .lr,.rl{
                background-color: rgba($greyDark, 0.5);
            } 
        }
    }
    .lr,.rl{
        @include size(1px, 80px);
        background-color: $greyDark;
    }
    
    .lr{
        transform: rotate(-45deg);
        transform-origin: left top;
    }
    
    .rl{
        transform: rotate(90deg);
        transform-origin: 50%;/*default*/
    }
}

.modal-content{
    box-shadow: none;
    border-radius: 0;
    border: none;
}

.modal-title{
    font-size: 4.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $greyDark;
    line-height: 2;
}





/* -------------------------
 *  Magnific Popup
 */

.mfp-title{
    padding-top: $space;
    padding-right: 0;
    color: $mercury;
    em{
        color: $color-primary;
        margin-right: $space;
    }
}


/**
     * buttons
     * 
 */
.btn-primary{
   font:{
            size: 1.8rem;
            family: $font-family-secondary;
            weight: bold;
        }
        
        margin: $spaceDouble 0;
        @extend %uppercase;
}

.btn-xl{
    padding: $space $spaceDouble; 
}
